<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Face Attendance</title>
</head>

<body class="bg-gray-100 min-h-screen">
    <div class="max-w-4xl mx-auto p-6">
        <h1 class="text-3xl font-bold mb-6 text-center">Face Attendance System</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Register Face -->
            <div class="bg-white p-4 rounded shadow">
                <h2 class="text-xl font-semibold mb-2">Register Face</h2>
                <form id="registerForm" class="space-y-3">
                    <input name="name" id="regName" class="w-full border p-2 rounded" placeholder="New Staff Please Register" />
                    <input name="image" id="regImage" type="file" accept="image/*" class="w-full"/>
                    <button class="bg-blue-600 text-white px-4 py-2 rounded" type="submit">Register</button>
                </form>
                <div id="regResult" class="mt-2 text-sm text-green-700"></div>
            </div>

            <!-- Recognize Face -->
            <div class="bg-white p-4 rounded shadow">
                <h2 class="text-xl font-semibold mb-2">Scan / Recognize</h2>
                <button id="scanBtn" class="bg-indigo-600 text-white px-3 py-1 rounded mb-2">Scan Your Face</button>
                <div id="webcamArea" class="hidden">
                    <!-- research -->
                    <video id="video" autoplay playsinline width="320"></video>
                    <canvas id="canvas" width="320" height="240" class="hidden"></canvas>
                    <div class="mt-2">
                        <button id="captureBtn" class="bg-green-600 text-white px-3 py-1 rounded">Capture &
                            Scan</button>
                        <button id="closeCamBtn" class="bg-red-500 text-white px-3 py-1 rounded">Close</button>
                    </div>
                </div>
                <div id="recResult" class="mt-2 text-sm text-blue-700"></div>
            </div>
        </div>

        <!-- Attendance Records -->
        <div class="bg-white p-4 rounded shadow mt-6">
            <h2 class="text-xl font-semibold mb-2">Staff Attendances</h2>
            <button id="loadBtn" class="bg-yellow-500 text-black px-3 py-1 rounded mb-2">Attendances Infomation</button>
            <div id="attendanceList" class="mt-3"></div>
        </div>
    </div>

    <script src="../static/main.js"></script>
</body>

</html>